

<div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3">
                  Product id
              </th>
              <th scope="col" class="px-6 py-3">
                  Product isPaid
              </th>
              <th scope="col" class="px-6 py-3">
                  Product paymentMethodType
              </th>
              <th scope="col" class="px-6 py-3">
                  Product totalOrderPrice
              </th>
              <th scope="col" class="px-6 py-3">
                  view
              </th>
          </tr>
      </thead>
      <tbody>
        @for (order of allOrders; track order.id;let i = $index) {
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                {{ order.id }}
            </th>
            <td class="px-6 py-4">
                {{ order.isPaid }}
            </td>
            <td class="px-6 py-4">
                {{ order.paymentMethodType }}
            </td>
            <td class="px-6 py-4">
                {{ order.totalOrderPrice }}
            </td>
            <td class="px-6 py-4">
                <i (click)="openModel(i)" class="fa fa-eye" ></i>
            </td>
        </tr>
        }
          

      </tbody>
  </table>
</div>
@if (showModel) {
  <div class="fixed inset-0 h-screen bg-slate-600 bg-opacity-60 z-20 flex items-center justify-center">
    <div class="bg-white max-w-96">
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-16 py-3">
                        <span class="sr-only">Image</span>
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Product
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Qty
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Price
                    </th>
                    
                </tr>
            </thead>
            <tbody>
                @for (product of cartItems; track $index) {
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <td class="p-4">
                            <img [src]="product.product.imageCover" class="w-16 md:w-32 max-w-full max-h-full" alt="Apple Watch">
                        </td>
                        <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                            {{product.product.title}}
                        </td>
                        <td class="px-6 py-4">
                            <div class="flex items-center">
                                
                                <span>{{product.count}}</span>
                            </div>
                            
    
                        </td>
                        <td class="px-6 py-4 font-semibold text-gray-900 dark:text-white">
                            ${{product.price}}
                        </td>
                        
                    </tr>
                }
            </tbody>
        </table>
  </div>
    </div>
  </div>
}


